.input {
  input {
    padding: 5px 8px;
    border: solid var(--border-size) var(--grey-color-light);
    border-radius: var(--border-radius);
    font-family: var(--primary-font);

    @extend %accessible-border-behavior;
  }
}