// Sass built-in functions cannot accept custom properties as arguments.
// However, custom properties are more override friendly for developers.
// This file sets custom properties from the variables in `variables.scss`.
// These custom properties are what's used in the component `*.scss` files.
// With the exception of media query breakpoints, which currently cannot be
// Used with custom properties, so those use Sass variables.

:root {

  // Colors
  --primary-color: #{$primary-color};
  --primary-color-dark: #{$primary-color-dark};
  --primary-color-light: #{$primary-color-light};
  --secondary-color: #{$secondary-color};
  --secondary-color-dark: #{$secondary-color-dark};
  --secondary-color-light: #{$secondary-color-light};
  --white-color: #{$white-color};
  --black-color: #{$black-color};
  --grey-color-light: #{$grey-color-light};
  --grey-color-very-light: #{$grey-color-very-light};
  --grey-color-dark: #{$grey-color-dark};
  --box-shadow: #{$box-shadow};
  --box-shadow-light: #{$box-shadow-light};

  // Borders
  --border-radius: #{$border-radius};
  --border-radius-round: #{$border-radius-round};
  --border-radius-round-button: #{$border-radius-round-button};
  --border-size: #{$border-size};
  --border: #{$border};

  // Fonts
  --primary-font: #{$primary-font};
  --secondary-font: #{$secondary-font};

  // Breakpoints
  --small-phone: #{$small-phone};
  --phone: #{$phone};
  --tablet: #{$tablet};
  --desktop: #{$desktop};
  --large-desktop: #{$large-desktop};

  // Input (radio/checkbox) size scale
  --input-size: #{$input-size};

  // Transitions
  --transition-speed-quick: #{$transition-speed-quick};
  --transition-speed-slow: #{$transition-speed-slow};
  --transition-animation-type: #{$transition-animation-type};
}