:root {

// Main Colors
  --primary-color: #{$primary-color}; // Cadet Blue
  --primary-color-contrast: #{$primary-color-contrast};
  --primary-color-hover: #468787; // Paradiso
  --primary-color-focus: #386C6C; // Ming

  --secondary-color: #{$secondary-color}; // Apple Blossom
  --secondary-color-contrast: #{$secondary-color-contrast};
  --secondary-color-hover: #874646; // Lotus
  --secondary-color-focus: #6C3838; // Brown Sanguine


// Light / Dark
  --white-color: #F5F5F5; // WhiteSmoke
  --black-color: #252525; // Nero

// Greys
  --grey-color-light: #E7E7E7; // Whisper
  --grey-color-medium: #C3C3C3; // Silver
  --grey-color-dark: #484848; // Charcoal

// Notices
  --notice-color: #BADCDC; // Powder Blue
  --warning-color: #F9E6AB; // Banana Mania
  --error-color: #E5C3C3; // Vanilla Ice
  --success-color: #C3E5C3; // Sea Mist


// Box shadows
  --box-shadow-heavy: 1px 1px 6px 0px rgba(0,0,0,.25);
// TODO: Add box shadow medium
  --box-shadow-light: 0 1px 1px 0px rgba(0,0,0,0.2);

// Borders
  --border-radius: 4px;
  --border-radius-round: 50%;
  --border-radius-oval: 25px;
  --border-size: 2px;
  --border: solid var(--border-size) var(--grey-color-medium);

// Fonts
  --primary-font: 'Nova Flat', monospace;
  --secondary-font: "Roboto", monospace;

// Breakpoints
  --small-phone: #{$small-phone};
  --phone: #{$phone};
  --tablet: #{$tablet};
  --desktop: #{$desktop};
  --large-desktop: #{$large-desktop};

// Input (radio/checkbox) size scale
  --input-size: 1.15rem;

// Transitions
  --transition-speed-quick: .1s;
  --transition-speed-medium: .2s;
  --transition-speed-slow: .3s;
  --transition-animation-type: ease-in-out;
}