@mixin accessible-border-behavior($hover, $focus, $focus-within) {
  outline: none;

  @if $hover == hover {
    &:hover {
      border: $border-size solid $grey-color-dark;
    }
  }

  @if $focus == focus {
    &:focus {
      border: $border-size solid $secondary-color;
    }
  }

  @if $focus-within == focus-within {
    &:focus-within {
      border-color: $secondary-color;
    }
  }
}