@media (max-width: var(--large-desktop)) {
  .default-hide-on-large-desktop {
    display: none;
  }
}

@media (max-width: var(--desktop)) {
  .default-hide-on-desktop {
    display: none;
  }
}

@media (max-width: var(--tablet)) {
  .default-hide-on-mobile {
    display: none;
  }
}

@media (max-width: var(--phone)) {
  .default-hide-on-phone {
    display: none;
  }
}

@media (max-width: var(--small-phone)) {
  .default-hide-on-small-phone {
    display: none;
  }
}