.button {
  padding: .5rem 1.2rem .5rem;
  border-radius: var(--border-radius);
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  box-shadow: var(--box-shadow-heavy);
  text-decoration: none;
  user-select: none;
  cursor: pointer;

  &:hover, &:active, &:focus {
    color: var(--primary-color-contrast);
  }

  &:active, &:focus {
    background-color: var(--primary-color-focus);
  }

  @media(max-width: $phone) {
    font-size: 1rem;
    padding: .5rem 1.25rem .5rem;
    margin: 0 .5rem;
  }

  // Variant(s)
  &[variant="round"] {
    border-radius: var(--border-radius-oval);
  }
}