.to-top {
  @import 'src/assets/scss/variables.scss';

  position: fixed;
  bottom: 2rem;
  right: 2.25rem;
  cursor: pointer;
  transition: opacity var(--transition-speed-medium);
  z-index: 9989;
  @media(max-width: $tablet) {
    bottom: 1rem;
    right: 1.25rem;
  }

  svg {
    all: unset;
    width: 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius-round);
    padding: .5rem;
    box-shadow: var(--box-shadow-medium);
    color: var(--primary-color-contrast);
    background-color: var(--primary-color);
  }
}