$transition: var(--transition-speed-slow) var(--transition-animation-type);

.navbar {

  margin-left: -16px;

  aside[role="dialog"] {
    position: fixed;
    background: rgba(0,0,0,0);
    transition: background var(--transition-speed-slow);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @media(min-width: $tablet) {
      display: none;
    }
  }

  nav {
    svg[aria-label="close"] {
      opacity: 1;
    }


    @media(min-width: $tablet) {
      svg[aria-label="close"],
      svg[aria-label="open"] {
        display: none;
      }

      &:not(.right) {
        ul {
          padding-left: 1rem;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      margin: .25rem;

      li {
        margin: 1rem;
        cursor: pointer;
        a {
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          transition: border-bottom var(--transition-speed-slow), color var(--transition-speed-slow);

          + span {
            display: block;
            visibility: hidden;
            margin: 0 auto;
            background-color: var(--primary-color);
            height: 0;
            width: 0;
            transition:
              width $transition,
              height $transition,
              visibility $transition,
              margin-bottom $transition,
              background-color $transition;
          }

          &:hover {

            + span {
              width: 100%;
              height: 2px;
              visibility: visible;
              margin-bottom: -2px;
              background-color: var(--primary-color-hover);
            }
          }

          &:active, &:focus {
            + span {
              background-color: var(--primary-color-focus);
            }
          }
        }

        &.default-navbar-active {
          a {
            color: var(--primary-color-focus);
          }
        }
      }
    }
  }

  @media(max-width: $tablet) {
    display: grid;
    justify-content: left;
    position: absolute;
    left: -70vw;
    transition: left var(--transition-speed-slow);
    min-height: 45px;

    nav {

      svg[aria-label="open"], svg[aria-label="close"] {
        display: block;
        position: fixed;
        left: .75rem;
        top: .75rem;
        color: var(--primary-color);
        width: 1.5rem;
        cursor: pointer;
        @include primary-accessible-behavior;
      }

      ul {
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        background: var(--grey-color-dark);
        width: 70vw;
        height: calc(100vh - 4px);
        top: -8px;
        left: -16px;
        padding-top: .25rem;
        padding-left: .5rem;
        padding-right: 0;
        margin: 0;
        z-index: 9990;

        li {
          margin: 0;
          padding: 1rem 5rem 1rem 2rem;

          a {
            user-select: none;
            font-size: 1.2rem;
            transition: none;
          }

          &:hover {
            background-color: var(--grey-color-medium);
            a {
              color: var(--primary-color-hover);
            }
          }

          &:focus {
            background-color: var(--grey-color-medium);
            a {
              color: var(--primary-color-focus);
            }
          }

        }
      }

    }
  }

  &[variant*="right"] {
    nav {
      ul {
        @media(min-width: $tablet) {
          justify-content: flex-end;
          padding-right: 1rem;
        }
      }
    }
  }

}

.navbar-open {
  @extend .navbar;
  position: relative;

  @media(max-width: $tablet) { // can't use custom properties in media queries

    left: 0;

    aside[role="dialog"]  {
      background: rgba(0,0,0,.1);
    }

    nav {
      display: grid;
      grid-template-columns: 8fr 1fr 1fr;

      ul {
        position: relative;
        border-right: solid var(--black-color) var(--border-size);
        box-shadow: var(--box-shadow-heavy);
      }

      @keyframes show {
        from { opacity: 0 }
        to { opacity: 1 }
      }

      svg[aria-label="close"] {
        width: 1.70rem;
        z-index: 9991;
        grid-column-start: 3;
        position: fixed;
        left: unset;
        right: 1rem;
        animation: show var(--transition-speed-slow) 1
      }
    }

  }
}