.navbar {
  nav {
    svg {
      display: none;
    }

    @media(min-width: $tablet) {

      &:not(.right) {
        ul {
          padding-left: 1rem;
        }
      }
    }



    ul {
      display: flex;
      list-style: none;
      margin: .25rem;

      li {
        margin: 1rem;

        a {
          color: var(--primary-color);
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          transition: border-bottom var(--transition-speed-variant), color var(--transition-speed-variant);

          + span {
            display: block;
            visibility: hidden;
            margin: 0 auto;
            background-color: var(--secondary-color);
            height: 0;
            width: 0;
            transition: width var(--transition-speed-variant) ease, height var(--transition-speed-variant) ease, visibility var(--transition-speed-variant) ease, margin-bottom var(--transition-speed-variant) ease;
          }

          &:hover {
            color: var(--secondary-color);

            + span {
              width: 100%;
              height: 2px;
              visibility: visible;
              margin-bottom: -2px;
            }
          }

          &:active, &:focus {
            color: var(--secondary-color-dark);
          }
        }

        &.default-navbar-active {
          a {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  @media(max-width: $tablet) { // can't use custom properties in media queries
    display: grid;
    justify-content: left;
    position: absolute;
    left: -100%;
    transition: left var(--transition-speed-variant);
    min-height: 45px;

    nav {

      svg {
        display: block;
        position: fixed;
        left: .75rem;
        top: .75rem;
        fill: var(--primary-color);
        width: 1.5rem;
      }

      ul {
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        background: var(--grey-color-dark);
        height: 100vh;
        min-width: 250px;
        top: -15px;
        left: -15px;
        padding-top: 3.5rem;
        padding-left: .5rem;
        padding-right: 0;
        margin: 0;
        z-index: 9990;

        li {
          margin: 0;
          padding: 1rem 5rem 1rem 2rem;

          a {
            user-select: none;
            font-size: 1.2rem;
          }

          &:hover, &:focus {
            background-color: var(--grey-color-light);

            a {
              color: var(--secondary-color);
            }
          }
        }

      }

    }
  }

  &[variant*="right"] {
    nav {
      ul {
        @media(min-width: $tablet) {
          justify-content: flex-end;
          padding-right: 1rem;
        }
      }
    }
  }

}

.navbar-open {
  @extend .navbar;

  @media(max-width: $tablet) { // can't use custom properties in media queries

    left: 0;
    nav {
      display: grid;
      grid-template-columns: 6fr 1fr 1fr;

      svg {
        width: 1.70rem;
        z-index: 9991;
        grid-column-start: 3;
        position: relative;
        margin-top: -.5rem;
      }
    }

  }
}