.checkbox {
  @extend %input-label;

  input {
    border-radius: var(--border-radius);
    appearance: none;
    outline: none;
    width: var(--input-size);
    height: var(--input-size);
    border: var(--border-size) solid var(--grey-color-light);
    transition: var(--transition-speed);
    cursor: pointer;
    margin-right: .5rem;

    @extend %accessible-border-behavior;

    + svg {
      transition: var(--transition-speed);
      pointer-events: none;
      width: .85rem;
      margin-left: .4rem;
      margin-top: .35rem;
      position: absolute;
      border-radius: calc(var(--border-radius) - 2px);
      color: var(--white-color);
      position: absolute;
    }

    &:checked {
      background-color: var(--primary-color);
      + svg {
        visibility: visible;
      }
    }

    &:after {
      border: solid var(--white-color);
    }

  }
}