.checkbox {
  @include input-label;
  font-family: var(--primary-font);

  * {
    font-family: inherit;
  }

  input {
    border-radius: var(--border-radius);
    appearance: none;
    outline: none;
    width: var(--input-size);
    height: var(--input-size);
    transition: var(--transition-speed-quick);
    cursor: pointer;
    margin-right: .5rem;

    @include accessible-border-behavior;

    + svg {
      transition: var(--transition-speed-quick);
      pointer-events: none;
      width: .85rem;
      margin-left: .4rem;
      margin-top: .35rem;
      position: absolute;
      border-radius: calc(var(--border-radius) - 2px);
      color: var(--white-color);
      position: absolute;
    }

    &:checked {
      background-color: var(--primary-color);
      + svg {
        visibility: visible;
      }
    }

  }
}