.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 4rem;
  font-family: var(--secondary-font);
}