.radiobutton {
  @extend %input-label;

  input {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--border-radius-round);
    width: var(--input-size);
    height: var(--input-size);
    border: solid var(--border-size) var(--grey-color-light);
    transition: var(--transition-speed) background-color var(--transition-animation-type);
    cursor: pointer;
    margin: .01rem;
    margin-right: .5rem;

    &:hover, &:focus {
      outline: none;
      &:not(:checked) {
        border: solid var(--border-size) var(--grey-color-dark);
      }
    }

    &:checked {
      cursor: default;

      + span {
        pointer-events: none;
        border-radius: var(--border-radius-round);
        position: absolute;
        margin: .27rem;
        background-color: var(--primary-color);
        width: calc(var(--input-size) - calc(var(--border-size) * 4));
        height: calc(var(--input-size) - calc(var(--border-size) * 4));
      }
    }
    @extend %accessible-border-behavior;
  }

}