.avatar {
  border: solid 1px var(--grey-color-medium);
  border-radius: var(--border-radius-round);
  box-shadow: var(--box-shadow-heavy);
  overflow: hidden;

  // Any/all children
  * {
    max-width: 100%;
  }

  @mixin size($avatar-size, $margin-left) {
    width: $avatar-size;
    height: $avatar-size;

    img {
      padding-left: $margin-left;
      margin-bottom: -3px;
    }
  }

  // Default
  @include size(75px, .09rem);

  &[variant="large"] {
    @include size(100px, .125rem);
  }

  &[variant="medium"] {
    @include size(50px, .075rem);
    box-shadow: var(--box-shadow-medium);
  }

  &[variant="small"] {
    @include size(25px, .05rem);
    box-shadow: var(--box-shadow-medium);
  }
}