.avatar {
  border: solid 1px var(--grey-color-medium);
  border-radius: var(--border-radius-round);
  box-shadow: var(--box-shadow-heavy);
  overflow: hidden;

  // Any/all children
  * {
    max-width: 100%;
  }

  @mixin size($avatar-padding, $avatar-size, $image-padding) {
    padding: $avatar-padding;
    width: $avatar-size;
    height: $avatar-size;

    img {
      padding-top: $image-padding;
    }
  }

  // Default
  @include size(8px, 75px, .7rem);

  &[variant="large"] {
    @include size(10px, 100px, 1rem);
  }

  &[variant="medium"] {
    @include size(5px, 50px, .45rem);
    box-shadow: var(--box-shadow-medium);
  }

  &[variant="small"] {
    @include size(4px, 25px, .35rem);
    box-shadow: var(--box-shadow-medium);
  }
}